@model DXWebMRCS.Models.eService

@{
    ViewBag.Title = "CreatePdf";
    Layout = "~/Views/Shared/_rootLayout.cshtml";
    var lessonname = Request.QueryString["lessonname"];
}
<style>
    .lessonname {
        position: absolute;
        top: 38%;
        left: 42%;
        transform: translate(-50%, -50%);
    }

    .score {
        position: absolute;
        top: 44%;
        left: 28%;
        transform: translate(-50%, -50%);
    }
    .nowdate {
        position: absolute;
        top: 38.5%;
        left: 20%;
        transform: translate(-50%, -50%);
    }
    .dood {
        position: absolute;
        top: 75.5%;
        left: 28%;
        transform: translate(-50%, -50%);
    }
    .uname {
        position: absolute;
        top: 29%;
        left: 43%;
        transform: translate(-50%, -50%);
    }
    .flex-container {
        display: flex;
        /*Generates a flexbox layout with default flex direction as row */
        width: 100%;
        /* Not really required */
        /*Aligns contents vertically */
        justify-content: center;
        /*Aligns contents horizontally */
        /*Aligns further text in the center */
    }

    .item {
        background-color: rgba(0, 0, 0, 0.50);
        height: 15vw;
        padding: 0px;
        margin: 15px;
        overflow: hidden;
    }

    .intro {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
    }

    img {
        width: 100%;
    }
</style>
<div class="flex-container">
    <div class="item">
        <img src="~/Content/Certificate.gif" />
        <h1 class="lessonname">@lessonname</h1>
        <h1 class="score">@Html.DisplayFor(model => model.Score)</h1>
        <h1 class="nowdate">@Html.DisplayFor(model => model.DateTime)</h1>
        <h1 class="dood">@Html.DisplayFor(model => model.DateTime)</h1>
        <h1 class="uname" style="color:#ed1c24">@Html.DisplayFor(model => model.UserProfile.Name)</h1>
   </div>
</div>