@model DXWebMRCS.Models.eService

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ElearnLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>eService</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserProfile.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LessonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessonId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.eServiceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
