@model Tuple<IEnumerable<DXWebMRCS.Models.Tag>, IEnumerable<DXWebMRCS.Models.GalleryModel>>

<div class="col-md-12">
    <!-- Works Filter -->
    <div class="portfolio-filter text-center">
        <a href="#" class="active" data-filter="*">All</a>
        @foreach (var tag in Model.Item1)
        {
            @*<a href="#branding" class="" data-filter=".branding">Branding</a>*@
            <a href="@Url.Content("#tags" + tag.TagID)" class="" data-filter="@Url.Content(".tags" + tag.TagID)">
                @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                {
                    @tag.NameEng
                }
                else
                {
                    @tag.NameMon
                }
            </a>
        }
        
    </div>
    <!-- End Works Filter -->
    <!-- Portfolio Gallery Grid -->

    <div class="gallery-isotope grid-4 gutter-small clearfix" data-lightbox="gallery">        

        @foreach (var item in Model.Item2)
        {
            <!-- Portfolio Item Start -->
            <div class="@Url.Content("gallery-item tags" + item.TagID)">
                <div class="thumb">
                    @{  string imageUrl = item.Image != null ? HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.AbsolutePath, "/") + item.Image : "http://placehold.it/360x240";}
                    <img alt="project" src="@imageUrl" class="img-fullwidth">
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                        <div class="icons-holder-inner">
                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                <a href="@imageUrl" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Portfolio Item End -->
        }
    </div>
    <!-- End Portfolio Gallery Grid -->
</div>

