@model IEnumerable<DXWebMRCS.Models.News>

@{  string language = System.Globalization.CultureInfo.CurrentCulture.Name;
    char[] chArr = {'<','/','>'};
    char[] chArr1 = {'%'};
    }
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-12 col-sm-6 col-md-4">
            <article class="post clearfix mb-sm-30">
                <div class="entry-header">
                    <div class="entry-date media-left flip text-center">
                        <ul>
                            <li class="font-16 font-weight-600 border-bottom bg-white-f1 pt-5 pr-15 pb-5 pl-15">@item.Date.Day</li>
                            <li class="font-12 text-white text-uppercase bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                            @if (language == "en-US")
                            {
                                @item.Date.ToString("MMM")
                            }
                            else
                            {
                                @item.Date.ToString("MM' сар'")
                            }</li>
                        </ul>
                    </div>
                    <div class="post-thumb thumb">
                        @*@{string imageUrl = item.ImageMedium != null ? HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.AbsolutePath, "/") + item.ImageMedium : "http://placehold.it/360x240";}*@
                        @*<img src=@imageUrl alt="" class="img-responsive img-fullwidth">*@
                        <img src="@item.Image" alt="" class="img-responsive img-fullwidth">

                    </div>
                </div>
                <div class="entry-content p-20 pr-10">
                    <div class="entry-meta mt-0 no-bg no-border">
                        <div class="event-content">
                            <h4 class="entry-title text-white text-capitalize m-0">
                                <a href='@Url.Action("NewsDetail", "News", new { id = @item.CID })'>
                                    @if (language == "en-US")
                                    {
                                        @item.TitleEng
                                    }
                                    else
                                    {
                                        @item.TitleMon
                                    }
                                </a>
                            </h4>
                        </div>
                    </div>
                    @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                    {
                        if (@item.BodyEng.Length > 200)
                        {
                            var steng = @Html.Raw(item.BodyMon).ToString().Substring(0, 200);
                            var dteng = @Html.Raw(HttpUtility.HtmlDecode(steng));
                            <p class="mt-10">@dteng</p>
                        }
                        else
                        {
                            <p class="mt-10">@Html.Raw(item.BodyEng)</p>
                        }
                    }
                    else
                    {
                        if (@item.BodyMon.Length > 200)
                        {
                            var stmon = @Html.Raw(item.BodyMon).ToString().Substring(0, 200);
                            var dtmon = @Html.Raw(HttpUtility.HtmlDecode(stmon + "%"));
                            var text = dtmon.ToHtmlString().Trim().TrimStart(chArr).TrimEnd(chArr1);
                            <p class="mt-10">@Html.Raw(@text)</p>
                        }
                        else
                        {
                            <p class="mt-10">@Html.Raw(item.BodyMon)</p>
                        }
                    }
                    <p class="mt-10">
                    </p>
                    <div class="clearfix"></div>
                </div>
                <div class="bg-theme-colored p-5 text-center pt-10 pb-10">
                    <span class="mb-10 text-white mr-10 font-13"><i class="fa fa-share-alt mr-5 text-white"></i>24 Share</span>
                    <span class="mb-10 text-white mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-white"></i> 214 Comments</span>
                    <span class="mb-10 text-white mr-10 font-13"><i class="fa fa-heart-o mr-5 text-white"></i> 895 Likes</span>
                </div>
            </article>
        </div>
    }

</div>

