@model DXWebMRCS.Models.TrainingModel
@{
    ViewBag.Title = "TrainingEventDetail";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@{  string language = System.Globalization.CultureInfo.CurrentCulture.Name; }
<!-- Start main-content -->
<div class="main-content">

    <section class="bg-theme-colored">
        <div class="container pt-40 pb-40">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2 id="basic-coupon-clock" class="text-white"></h2>
                    <!-- Final Countdown Timer Script -->
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#basic-coupon-clock').countdown('@Model.When.ToString("yyyy/MM/dd")', function (event) {
                                $(this).html(event.strftime('Үйл ажиллагаа эхэлэхэд %D өдөр %H:%M:%S үлдсэн байна.'));
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li>
                            <h5>Topics:</h5>
                            <p>
                                @if (language == "en-US")
                                {
                                    @Model.NameEng
                                }
                                else
                                {
                                    @Model.NameMon
                                }
                            </p>
                        </li>
                        <li>
                            <h5>Location:</h5>
                            <p>
                                @Model.Where
                            </p>
                        </li>
                        <li>
                            <h5>Start Date:</h5>
                            <p>@Model.When.ToString("MMM") @Model.When.Day, @Model.When.Year</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <img src="@Model.Image" alt="">
                </div>
            </div>
            <div class="row mt-60">
                <div class="col-md-12">
                    <h4 class="mt-0">
                        @if (language == "en-US")
                        {
                            @Model.NameEng
                        }
                        else
                        {
                            @Model.NameMon
                        }    
                    </h4>
                    <p class="lead">
                        @if (language == "en-US")
                        {
                            @Model.ContentEng
                        }
                        else
                        {
                            @Model.ContentMon
                        }
                    </p>
                </div>
                
            </div>
            <div class="row mt-20">
                    @{
                        string requestBtnText = @Model.RequestStatus == null || @Model.RequestStatus == 9 ? "Бүртгүүлэх" : @Model.RequestStatus == 0 ? "Бүртгэгдсэн" : "Хүлээн авсан";
                        string requestBtnIcon = @Model.RequestStatus == null || @Model.RequestStatus == 0 ? "fa fa-check" : "fa fa-close";
                        bool requestIsDisabled = @Model.RequestStatus == null || @Model.RequestStatus == 9 ? false : true;
                        bool cancelIsDisabled = @Model.RequestStatus == null || @Model.RequestStatus == 9 ? true : false;
                    }
                    @*<button id="@Url.Content("request" + @Model.TrainingID)" trainingid=@Model.TrainingID disabled=@requestIsDisabled userid=@Model.UserID class="ActionRegister btn btn-dark btn-theme-colored btn-sm mt-10">@requestBtnText</button>
                    <button id="@Url.Content("cancel" + @Model.TrainingID)" trainingid=@Model.TrainingID disabled=@cancelIsDisabled userid=@Model.UserID class="ActionCancel btn btn-dark btn-sm mt-10">Цуцлах</button>*@
               
                <a id="@Url.Content("request" + @Model.TrainingID)" trainingid=@Model.TrainingID userid=@Model.UserID class="ActionRegister btn btn-dark btn-theme-colored">
                    
                    <i class="@Url.Content(requestBtnIcon)"></i> @requestBtnText
                                        
                </a> 

            </div>

            @*<div class="row mt-40">
                @{Html.RenderAction("TrainingDetailUserListPartial", "Home", new { trainingId = Model.TrainingID});}
            </div>*@
        </div>
    </section>

    <!-- Section: Registration Form -->
    @*<section class="divider parallax layer-overlay overlay-white-8" data-bg-img="http://placehold.it/1920x1280">
        <div class="container-fluid">            
            
        </div>
    </section>*@

    @*<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="mb-20">Photo Gallery</h4>
                    <div class="owl-carousel-5col" data-nav="true">
                        <div class="item"><img src="https://placehold.it/285x215" alt=""></div>
                        <div class="item"><img src="https://placehold.it/285x215" alt=""></div>
                        <div class="item"><img src="https://placehold.it/285x215" alt=""></div>
                        <div class="item"><img src="https://placehold.it/285x215" alt=""></div>
                        <div class="item"><img src="https://placehold.it/285x215" alt=""></div>
                        <div class="item"><img src="https://placehold.it/285x215" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
</div>
<!-- end main-content -->

<script>

    $(".ActionRegister").click(function (e) {
        e.preventDefault();
        console.log("---------Register = 1----------");
        var tagId = $(this).attr('id');
        var id = $(this).attr('trainingid');
        var userid = $(this).attr('userid');

        console.log("id = " + id);
        console.log("userId = " + userid);

        var baseurl = '@Url.Action("TrainingRegister", "Home")';
        $.ajax({
            url: baseurl,
            type: 'POST',
            data: { 'id': id},
            datatype: 'json',
            success: function (data) {

                console.log(data);

                console.log("id = " + id);
                console.log("userId = " + userid);

                if (data.success == true) {
                    console.log(data.userId);
                    if (data.status == 1) {
                        $("#request" + id + "").html('<i class="fa fa-close"></i> Бүртгэгдсэн');
                    }
                    else {
                        $("#request" + id + "").html('<i class="fa fa-check"></i> Бүртгүүлэх');
                    }
                }
            },
        });
    });

    $(".ActionCancel").click(function (e) {
        e.preventDefault();
        console.log("---------Cancel = 1----------");
        var tagId = $(this).attr('id');
        var id = $(this).attr('trainingid');
        var userid = $(this).attr('userid');

        var baseurl = '@Url.Action("TrainingCancel", "Home")';
        $.ajax({
            url: baseurl,
            type: 'POST',
            data: { 'userid': userid, 'trainingid': id },
            datatype: 'json',
            success: function (data) {

                console.log(data);
                if (data.success == true) {
                    document.getElementById("request" + id).disabled = false;
                    document.getElementById(tagId).disabled = true;
                    $("#request" + id + "").html('Бүртгүүлэх');
                    //document.getElementById(trainingid).disabled = false;
                    console.log(data.requestId);
                }
            },
        });
    });

</script>

<script>

    $(document).ready(function () {

        /* Save JobPost */
        $('#formId').submit(function (e) {
            e.preventDefault();
            return false;
        });

    });
</script>