@using DXWebMRCS.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<DXWebMRCS.Models.TrainingModel>
@{
    ViewBag.Title = "TrainingList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="http://placehold.it/1920x1280">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title text-white">Event List without Sidebar</h2>
                        <ol class="breadcrumb text-center text-black mt-10">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Pages</a></li>
                            <li class="active text-gray-silver">Page Title</li>
                            <li class="active text-theme-colored">Event List without Sidebar</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Upcoming Events -->
    <section>
        <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form id="formId" class="horizontal-form" role="form" enctype="multipart/form-data">
                            @foreach (var item in Model)
                            {
                                <div class="upcoming-events bg-white-f3 mb-20">
                                  <div class="row">
                                    <div class="col-sm-4 pr-0 pr-sm-15">
                                      <div class="thumb p-15">
                                        <img class="img-fullwidth" src=@item.Image alt="...">
                                      </div>
                                    </div>
                                    <div class="col-sm-4 pl-0 pl-sm-15">
                                        <div class="event-details p-15 mt-20">
                                            <h4 class="mt-0 text-uppercase font-weight-500">@item.NameMon</h4>
                                            <p>@item.ContentMon</p>
                                            @{
                                                string requestBtnText = @item.RequestStatus == null || @item.RequestStatus == 9 ? "Бүртгүүлэх" : @item.RequestStatus == 0 ? "Хүлээнэ үү" : "Хүлээн авсан";
                                                bool requestIsDisabled = @item.RequestStatus == null || @item.RequestStatus == 9 ? false : true;
                                                bool cancelIsDisabled = @item.RequestStatus == null || @item.RequestStatus == 9 ? true : false;
                                            }
                                            <div class="mt-10">
                                                <button id="@Url.Content("request" + @item.TrainingID)" trainingid=@item.TrainingID disabled=@requestIsDisabled userid=@item.UserID class="ActionRegister btn btn-dark btn-theme-colored btn-sm mt-10">@requestBtnText</button>
                                                <button id="@Url.Content("cancel" + @item.TrainingID)" trainingid=@item.TrainingID disabled=@cancelIsDisabled userid=@item.UserID class="ActionCancel btn btn-dark btn-sm mt-10">Цуцлах</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                      <div class="event-count p-15 mt-15">
                                        <ul class="event-date list-inline font-16 text-uppercase mt-10 mb-20">
                                          <li class="p-15 mr-5 bg-lightest">@item.When.ToString("MMM")</li>
                                          <li class="p-15 pl-20 pr-20 mr-5 bg-lightest"> @item.When.Day</li>
                                          <li class="p-15 bg-lightest">@item.When.Year</li>
                                        </ul>
                                        <ul>
                                          <li class="mb-10"><a href="#"><i class="fa fa-clock-o mr-5"></i> @item.When.ToString("HH:mm")</a></li>
                                          <li><a href="#"><i class="fa fa-map-marker mr-5"></i> @item.Where</a></li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                            }
                            <div class="col-md-12">
                                @Html.PagedListPager(Model, page => Url.Action("TrainingPageClick", new { page = page }))
                            </div>
                        </form>
                    </div>
            </div>
        </div>

    </section>
</div>
<!-- end main-content -->

<script>

    $(".ActionRegister").click(function (e) {
        e.preventDefault();
        console.log("---------Register = 1----------");
        var tagId = $(this).attr('id');
        var id = $(this).attr('trainingid');
        var userid = $(this).attr('userid');

        console.log("id = " + id);
        console.log("userId = " + userid);

        var baseurl = '@Url.Action("TrainingRegister", "Home")';
        $.ajax({
            url: baseurl,
            type: 'POST',
            data: { 'id': id},
            datatype: 'json',
            success: function (data) {
                
                console.log(data);

                console.log("id = " + id);
                console.log("userId = " + userid);
                
                if (data.success == true) {                    
                    console.log(data.userId);
                    $("#request" + id + "").html('Хүлээнэ үү');
                    document.getElementById(tagId).disabled = true;
                    document.getElementById("cancel" + id).disabled = false;
                    document.getElementById("cancel" + id).setAttribute("userid", data.userId);
                }
            },
        });
    });

    $(".ActionCancel").click(function (e) {
        e.preventDefault();
        console.log("---------Cancel = 1----------");
        var tagId = $(this).attr('id');
        var id = $(this).attr('trainingid');
        var userid = $(this).attr('userid');

        var baseurl = '@Url.Action("TrainingCancel", "Home")';
        $.ajax({
            url: baseurl,
            type: 'POST',
            data: { 'userid': userid, 'trainingid': id },
            datatype: 'json',
            success: function (data) {

                console.log(data);
                if (data.success == true) {
                    document.getElementById("request" + id).disabled = false;
                    document.getElementById(tagId).disabled = true;
                    $("#request" + id + "").html('Бүртгүүлэх');
                    //document.getElementById(trainingid).disabled = false;
                    console.log(data.requestId);
                }
            },
        });
    });

</script>

<script>

    $(document).ready(function () {

        /* Save JobPost */
        $('#formId').submit(function (e) {
            e.preventDefault();
            return false;
        });

    });
</script>