@model DXWebMRCS.Models.Branch

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}
<div class="panel panel-default" role="main">

    <div class="">
        <div class="page-title">
            <h2>Салбар нэмэх</h2>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("Create", "Branch", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Branch</h4>
                        <hr />
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(model => model.NameMon, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.NameMon, new { @class = "form-control", @style = "background-color:white", placeholder = "Монгол нэр оруулна уу" })
                                @Html.ValidationMessageFor(model => model.NameMon)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NameEng, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.NameEng, new { @class = "form-control", @style = "background-color:white", placeholder = "Англи нэр оруулна уу" })
                                @Html.ValidationMessageFor(model => model.NameEng)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.email, new { @type = "email", @class = "form-control", @style = "background-color:white", placeholder = "Емэйл хаяг оруулна уу" })
                                @Html.ValidationMessageFor(model => model.email)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.phone, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.phone, new { @type = "number", @class = "form-control", @style = "background-color:white", placeholder = "Нэр оруулна уу" })
                                @Html.ValidationMessageFor(model => model.phone)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.address, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.address, new { @class = "form-control", @style = "background-color:white", placeholder = "Нэр оруулна уу" })
                                @Html.ValidationMessageFor(model => model.address)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Logo, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="file" name="LogoFile" required onchange="showLogo(this)">
                                <img id="user_imglogo" height="100" width="90" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="file" name="ImageFile" required onchange="show(this)">
                                <img id="user_img" height="100" width="90" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>

            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
    function showLogo(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_imglogo').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>  