@model DXWebMRCS.Models.FileContent
@{
    ViewBag.Title = "_UploadFile";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Upload file</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    @using (Html.BeginForm("_UploadFile", "SysAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Training</h4>
                            <hr />
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.TitleEng, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.TitleEng, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TitleEng)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TitleMon, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.TitleMon, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TitleMon)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DescriptionEng, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.DescriptionEng, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DescriptionEng)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DescriptionMon, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.DescriptionMon, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DescriptionMon)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FilePath, new { @class = "control-label col-md-2" })
                                <div class="col-md-9">
                                    
                                       @Html.DevExpress().FileManager(settings =>
                                        {
                                            settings.Name = "FileManager";
                                            settings.CallbackRouteValues = new { Controller = "SysAdmin", Action = "FileManagerContentPartial" };

                                            settings.DownloadRouteValues = new { Controller = "SysAdmin", Action = "FileManagerPartialDownload" };
                                            settings.SettingsEditing.AllowDownload = true;

                                            settings.Settings.ThumbnailFolder = Url.Content("~/Content/FileManager/Thumbnails");

                                            settings.SettingsEditing.AllowCreate = true;
                                            settings.SettingsEditing.AllowRename = true;
                                            settings.SettingsEditing.AllowMove = true;
                                            settings.SettingsEditing.AllowDelete = true;
                                            settings.SettingsUpload.Enabled = true;
                                            settings.SettingsUpload.UseAdvancedUploadMode = true;
                                            settings.SettingsUpload.AdvancedModeSettings.EnableMultiSelect = true;

                                            settings.SettingsFileList.View = DevExpress.Web.FileListView.Thumbnails;
    
                                            settings.FileUploading = (s, e) => {

                                                DXWebMRCS.Constants.Config.FileNamePath = e.FileName;
        
                                            };
                                        }).BindToFolder(@"~\Content\Uploadfile").GetHtml()
                                    
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            </div>
        </div>

    </div>
</div>

