@model DXWebMRCS.Models.Gallery

@{
    ViewBag.Title = "GalleryCreate";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

<h2>Create</h2>
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Form Elements</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("GalleryCreate", "SysAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Gallery</h4>
                        <hr />
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(model => model.TitleMon, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TitleMon)
                                @Html.ValidationMessageFor(model => model.TitleMon)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TitleEng, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TitleEng)
                                @Html.ValidationMessageFor(model => model.TitleEng)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="file" name="ImageFile" required onchange="show(this)">
                                <img id="user_img" height="100" width="90" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Tags, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.Partial("DropDownEdit")
                                @Html.ValidationMessageFor(model => model.Tags)
                            </div>
                        </div>
                      

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="GalleryCreate" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Gallery")
                </div>

            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }

    function CloseGridLookup() {
        Tags.ConfirmCurrentSelection();
        Tags.HideDropDown();
    }
</script>  