@model IEnumerable<DXWebMRCS.Models.SliderPhoto>
@{
    ViewBag.Title = "SliderList";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}


<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Default Example <small>Users</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <button type="button" class="btn btn-primary" id="SliderCreate">New photo</button>
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align: center">Зураг</th>
                                <th style="text-align: center">Монгол гарчиг</th>
                                <th style="text-align: center">Англи гарчиг</th>
                                <th style="text-align: center">Он сар өдөр</th>
                                <th></th>
                            </tr>
                        </thead>


                        <form id="formId" class="horizontal-form" role="form" enctype="multipart/form-data">

                            @foreach (var item in Model)
                            {
                                <tr>
                                    @{string imageUrl = HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.AbsolutePath, "/") + @item.ImagePath;}
                                    <td class="a-center" style="vertical-align:middle;text-align:center"><img id="user_img" height="100" width="90" src=@imageUrl /></td>
                                    <td class="a-center" style="vertical-align:middle">@item.MonTitle</td>
                                    <td class="a-center" style="vertical-align:middle">@item.EngTitle</td>
                                    <td class="a-center" style="vertical-align: middle; text-align: center">
                                        <span class="label label-primary" style="font-size:large">@item.CreatedDate.ToString("yyyy MMM dd")</span>
                                    </td>
                                    <td class="a-center" style="vertical-align:middle;text-align:center">
                                        <a class="btn btn-default btn-xs" sliderid="@item.Id" href='@Url.Action("SliderAdd", "SysAdmin", new { id = @item.Id })'>
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="ActionEdit btn btn-danger btn-xs" id="@item.Id" sliderid="@item.Id" href="javascript:;">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                    @*<td id="" class="a-center" style="vertical-align:middle">

                                        </td>*@
                                </tr>
                            }

                        </form>

                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<script>

    $(".ActionEdit").click(function (e) {
        e.preventDefault();
        console.log("---------1----------");
        var id = $(this).attr('itemid');
        var sliderId = $(this).attr('sliderId');
        //alert(ButtonId + ' ' + jobPostId);
        console.log("id = " + id);
        console.log("sliderId = " + sliderId);

        var row = document.getElementById(sliderId);
        console.log("row = " + row.parentNode.parentNode.tagName);
        var table = row.parentNode.parentNode;
        while (table.tagName != 'TR') {
            table = table.parentNode;
        }
        table.parentNode.removeChild(table);
        //console.log("row.rowIndex = " + row.parentNode.rowIndex);
        //table.deleteRow(row.parentNode.rowIndex);


        var baseurl = '@Url.Action("SliderDelete", "SysAdmin")';
        $.ajax({
            url: baseurl,
            type: 'POST',
            data: { 'id': sliderId },
            datatype: 'json',
            success: function (data) {
                //window.location.href = '@Url.Action("SliderList", "SysAdmin")';
                console.log(data);

            },

        });
    });

</script>

<script>

    $(document).ready(function () {

        /* Save JobPost */
        $('#formId').submit(function (e) {
            e.preventDefault();
            return false;
        });

        $('#SliderCreate').click(function () {
            var id = $(this).attr('sliderId');
            window.location.href = '@Url.Action("SliderAdd", "SysAdmin", new { id = 0 })';
        });
    });
</script>
