@model DXWebMRCS.Models.EditRegisterModel
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/Content/Admin/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<!-- bootstrap-datetimepicker -->
<link href="~/Content/Admin/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
<link href="~/Content/Admin/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">

  <!-- Start main-content -->
<div class="main-content">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-push-1">
                    <div class="border-1px p-25">
                        <h4 class="text-theme-colored text-uppercase m-0">Хэрэглэгчийн мэдээлэл</h4>
                        <div class="line-bottom mb-30"></div>
                        <p>Та өөрийн хэрэглэгчийн мэдээллийг засах боломжтой.</p>
                        @using (Html.BeginForm("UserProfile", "SysAdmin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(m => m.Id)
                            @Html.HiddenFor(m => m.BirthOfDay)
                            @Html.HiddenFor(m => m.AvatarPath)
                            <div id="account" class="tab-pane active">
                                @*<form class="form-horizontal">*@
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Зураг</label>
                                    <div class="col-md-9">
                                        <div class="media v-middle">
                                            @*<div class="media-left">
                                <div class="icon-block width-100 bg-grey-100">
                                    <i class="fa fa-photo text-light"></i>
                                </div>
                            </div>*@
                                            @if (string.IsNullOrEmpty(Model.AvatarPath))
                                            {
                                                <img id="user_img" src="~/Content/images/defaultImage.png" class="avatar" width="120" height="100" alt="Avatar">
                                            }
                                            else
                                            {
                                                <img id="user_img" src="@Url.Content(HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.AbsolutePath, "/") + Model.AvatarPath)" height="100" width="100" alt="Avatar" />
                                            }

                                            <div class="media-body">
                                                <input type="file" name="ImageFile" class="btn btn-white btn-sm paper-shadow relative" onchange="show(this)">
                                                @*<a href="#" class="btn btn-white btn-sm paper-shadow relative" data-z="0.5" data-hover-z="1" data-animated> Add Image<i class="fa fa-upl"></i></a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-md-2 control-label">Овог</label>
                                    <div class="col-md-9">
                                        <div class="form-control-material">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @PlaceHolder = "Овог", @id = "exampleInputLastName" })
                                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-md-2 control-label">Нэр</label>
                                    <div class="col-md-9">
                                        <div class="form-control-material">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @PlaceHolder = "Нэр", @id = "exampleInputFirstName" })
                                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-md-2 control-label">Утас</label>
                                    <div class="col-md-9">
                                        <div class="form-control-material">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control used", @id = "website", @type = "number", @PlaceHolder = "Утасны дугаар" })
                                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (Roles.IsUserInRole(User.Identity.Name, "User"))
                                {
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-md-2 control-label">Төрсөн он сар</label>
                                        <div class="col-md-9">
                                            <div class="form-control-material">
                                                <div class="input-group">
                                                    <label class="form-control">@Model.BirthOfDay.ToString("yyyy-MM-dd")</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-md-2 control-label">И-мэйл</label>
                                    <div class="col-md-9">
                                        <div class="form-control-material">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @PlaceHolder = "Е-мэйл", @id = "inputEmail3", @readonly = "readonly" })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-md-2 control-label">Шинэ нууц үг</label>
                                    <div class="col-md-9">
                                        <div class="form-control-material">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                @Html.PasswordFor(m => m.EditPassword, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.EditPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group margin-none">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="submit" class="btn btn-primary paper-shadow relative" data-z="0.5" data-hover-z="1" data-animated>Хадгалах</button>
                                    </div>
                                </div>
                                @*</form>*@
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->


<!-- /page content -->
<script type="text/javascript">
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>  