
@model System.Collections.IEnumerable
<div class="right_col" role="main">
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_SysLayout.cshtml";
    }
    @Html.DevExpress().Button(settings =>
{
    settings.Name = "Button1";
    settings.Text = "Add";
    settings.ClientSideEvents.Click = "function(s, e) { TreeList.StartEditNewNode(); }";
}).GetHtml()

    @Html.DevExpress().Button(settings =>
{
    settings.Name = "Button2";
    settings.Text = "Modify";
    settings.ClientSideEvents.Click = "function(s, e) { TreeList.StartEdit(TreeList.GetFocusedNodeKey()); }";
}).GetHtml()

    @Html.DevExpress().Button(settings =>
{
    settings.Name = "Button3";
    settings.Text = "Apply";
    settings.ClientSideEvents.Click = "function(s, e) { TreeList.UpdateEdit(); }";
}).GetHtml()

    @Html.DevExpress().Button(settings =>
{
    settings.Name = "Button4";
    settings.Text = "Cancel";
    settings.ClientSideEvents.Click = "function(s, e) { TreeList.CancelEdit(); }";
}).GetHtml()

    @Html.Action("TreeListPartial")
</div>