@{ Layout = "~/Views/Shared/_lightLayout.cshtml"; }
@model DXWebMRCS.Models.RegisterModel

<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-3">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, null))
                    {
                        @Html.AntiForgeryToken()
                        <div class="icon-box mb-0 p-0">
                            <a href="#" class="icon icon-bordered icon-rounded icon-sm pull-left mb-0 mr-10">
                                <i class="pe-7s-users"></i>
                            </a>
                            @Html.ValidationSummary(true)
                            <h4 class="text-gray pt-10 mt-0 mb-30">Register Now.</h4>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Last Name</label>
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>First Name</label>
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Address</label>
                                @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Address1, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>Address 2</label>
                                @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Address2, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>City/Town</label>
                                @Html.TextBoxFor(m => m.CityTown, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.CityTown, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>State/Province</label>
                                @Html.TextBoxFor(m => m.StateProvince, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.StateProvince, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Birthday</label>
                                @Html.TextBoxFor(model => model.BirthOfDay, new { @class = "form-control date-picker", @value = "12-02-2012" })
                                @Html.ValidationMessageFor(m => m.BirthOfDay, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>Gender</label>
                                @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>
                                                                {
                                                                   new SelectListItem{ Text="Male", Value = "1" },
                                                                   new SelectListItem{ Text="Female", Value = "2" }
                                                                }, "Choose", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Email Address</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>Phone Number</label>
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @type = "number" })
                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>What is your preferred way of contact?</label>

                                <div class="radio">
                                    <label>@Html.RadioButton("orderField1", "phone")   Phone</label>
                                </div>
                                <div class="radio">
                                    <label>@Html.RadioButton("orderField1", "email") Email</label>
                                </div>
                                <div class="radio">
                                    <label>@Html.RadioButton("orderField1", "sms")   SMS</label>
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(m => m.orderField1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Would you like to join our mailing list and receive news and updates from Red Cross?</label>

                                <div class="radio">
                                    <label>@Html.RadioButton("orderField2", "yes") Yes</label>
                                </div>
                                <div class="radio">
                                    <label>@Html.RadioButton("orderField2", "no")   No thanks</label>
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(m => m.orderField2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Have you worked or volunteered with Red Cross before?</label>

                                <div class="radio">
                                    <label>@Html.RadioButton("orderField3", "no")   No </label>
                                </div>
                                <div class="radio">
                                    <label>@Html.RadioButton("orderField3", "volunteered") Yes, volunteered </label>
                                </div>
                                <div class="radio">
                                    <label>@Html.RadioButton("orderField3", "worked") Yes, worked </label>
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(m => m.orderField3, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Which areas do you have interest in volunteering?</label>

                                <div class="checkbox">
                                    <label>@Html.CheckBox("orderField41") Disaster Managerment/Preparedness </label>
                                </div>
                                <div class="checkbox">
                                    <label>@Html.CheckBox("orderField42") Social care and inclusion </label>
                                </div>
                                <div class="checkbox">
                                    <label>@Html.CheckBox("orderField43") Health Promotion </label>
                                </div>
                                <div class="checkbox">
                                    <label>@Html.CheckBox("orderField44") Youth Movement </label>
                                </div>
                                <div class="checkbox">
                                    <label>@Html.CheckBox("orderField45") Other (please specify) </label>
                                </div>
                                <div class="checkbox" id="div_orderField451" style="display: none;">
                                    @Html.TextBox("orderField451")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Tell us a bit about yourself (your study, experience, what you'd like to do as a volunteer)</label>
                                @Html.TextArea("orderField5", new { @class = "form-control", @rows = 3 })
                                @Html.ValidationMessageFor(m => m.orderField5, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="form_choose_password">Choose Password</label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>Re-enter Password</label>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-dark btn-lg btn-block mt-15" type="submit">Register</button>
                        </div>

                    }
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->

<script src="~/Scripts/jquery.validate.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#orderField45').change(function () {
            if ($('#orderField45').prop('checked')) {
                $('#div_orderField451').show();
            }
            else {
                $('#div_orderField451').hide();
            }
        });
    });
</script>