@model IEnumerable<DXWebMRCS.Models.Menu>
@{
    ViewBag.Title = "_HeaderPartial";
}
@{
    string language = System.Globalization.CultureInfo.CurrentCulture.Name;}
<!-- Header -->
<header id="header" class="header">
    <div class="header-top bg-theme-color-2 sm-text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 pt-10 pb-10">
                    <div class="widget no-border m-0">
                        <ul class="list-inline">
                            <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-white"></i> <a class="text-white">976-11323334</a> </li>
                            <li class="text-white m-0 pl-10 pr-10"> <i class="fa fa-clock-o text-white"></i> Mon-Fri 9:00 to 18:00 </li>
                            <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-white"></i> <a class="text-white">info@redcross.mn</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 pt-10 pb-10">
                    <div class="widget no-border m-0">
                        <ul class="list-inline text-right sm-text-center">
                            @if (Roles.IsUserInRole("Admin"))
                            {
                                <li>
                                    <a href="~/SysAdmin" class="text-white">Admin panel</a>
                                </li>
                                <li class="text-white">|</li>
                            }
                            @if (language == "mn-MN")
                            {
                                <li>
                                    <img src="~/Content/eng.png" width="25"/> <a>@Html.ActionLink("English", "Change", "Home", new { lan = "en-US" }, htmlAttributes: new { @class = "text-white" })</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <img src="~/Content/mon.png" width="25"/> <a>@Html.ActionLink("Монгол", "Change", "Home", new { lan = "mn-MN" }, htmlAttributes: new { @class = "text-white" })</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 pb-10">
                    <div class="widget no-border m-0">
                        <ul class="list-inline pull-right flip sm-pull-none sm-text-center mt-5">
                            <li class="mt-sm-10 mb-sm-10">
                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
            <div class="container">
                <nav id="menuzord-right" class="menuzord default">
                    <a class="menuzord-brand pull-left flip" href="@Url.Action("Index", "Home")">
                        <img src="~/Content/images/logo-wide.png" alt="">
                    </a>

                    <ul class="menuzord-menu">
                        @*@{string isActive = "active";}*@
                        @foreach (var item in Model.Where(x => x.ParentId == null))
                        {
                            <li>

                                @if (item.MenuType == "Single" || item.MenuType == null)
                                {
                                    if (Model.Where(x => x.ParentId == item.MenuID).Count() > 0)
                                    {
                                        <a>
                                            @if (language == "en-US")
                                            {
                                                @item.NameEng
                                            }
                                            else
                                            {
                                                @item.NameMon
                                            }
                                        </a>
                                        <ul class="dropdown">
                                            @foreach (var item2 in Model.Where(x => x.ParentId == item.MenuID))
                                            {
                                                <li>
                                                    @if (Model.Where(x => x.ParentId == item2.MenuID).Count() > 0)
                                                    {
                                                        <a>
                                                            @if (language == "en-US")
                                                            {
                                                                @item2.NameEng
                                                            }
                                                            else
                                                            {
                                                                @item2.NameMon
                                                            }
                                                        </a>
                                                        <ul class="dropdown">
                                                            @foreach (var item3 in Model.Where(x => x.ParentId == item2.MenuID))
                                                            {
                                                                <li>
                                                                    if (string.IsNullOrEmpty(@item3.NavigateUrl))
                                                                    {
                                                                    <a href='@Url.Action("MenuClick", "News", new { id = item3.MenuID })'>
                                                                        @if (language == "en-US")
                                                                        {
                                                                            @item3.NameEng
                                                                        }
                                                                        else
                                                                        {
                                                                            @item3.NameMon
                                                                        }
                                                                    </a>
                                                                    }
                                                                    else
                                                                    {
                                                                    <a href='@item3.NavigateUrl'>
                                                                        @if (language == "en-US")
                                                                        {
                                                                            @item3.NameEng
                                                                        }
                                                                        else
                                                                        {
                                                                            @item3.NameMon
                                                                        }
                                                                    </a>
                                                                    }
                                                                </li>
                                                            }
                                                        </ul>
                                                    }
                                                    else
                                                    {
                                                        if (string.IsNullOrEmpty(@item2.NavigateUrl))
                                                        {
                                                            <a href='@Url.Action("MenuClick", "News", new { id = @item2.MenuID })'>
                                                                @if (language == "en-US")
                                                                {
                                                                    @item2.NameEng
                                                                }
                                                                else
                                                                {
                                                                    @item2.NameMon
                                                                }
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href='@item2.NavigateUrl'>
                                                                @if (language == "en-US")
                                                                {
                                                                    @item2.NameEng
                                                                }
                                                                else
                                                                {
                                                                    @item2.NameMon
                                                                }
                                                            </a>
                                                        }

                                                    }
                                                </li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        if (string.IsNullOrEmpty(@item.NavigateUrl))
                                        {
                                            <a href='@Url.Action("MenuClick", "News", new { id = @item.MenuID })'>
                                                @if (language == "en-US")
                                                {
                                                    @item.NameEng
                                                }
                                                else
                                                {
                                                    @item.NameMon
                                                }
                                            </a>
                                        }
                                        else
                                        {
                                            <a href='@item.NavigateUrl'>
                                                @if (language == "en-US")
                                                {
                                                    @item.NameEng
                                                }
                                                else
                                                {
                                                    @item.NameMon
                                                }
                                            </a>
                                        }
                                    }
                                }
                                else if (@item.MenuType == "Multi")
                                {
                                    if (Model.Where(x => x.ParentId == item.MenuID).Count() > 0)
                                    {
                                        <a>
                                            @if (language == "en-US")
                                            {
                                                @item.NameEng
                                            }
                                            else
                                            {
                                                @item.NameMon
                                            }
                                        </a>
                                        <div class="megamenu">
                                            <div class="megamenu-row">

                                                <div class="col3">
                                                    <ul class="list-unstyled list-dashed">
                                                        @foreach (var item2 in Model.Where(x => x.ParentId == item.MenuID))
                                                        {
                                                            <li>
                                                                @if (string.IsNullOrEmpty(@item2.NavigateUrl))
                                                                {
                                                                    <a href='@Url.Action("MenuClick", "News", new { id = @item2.MenuID })'>
                                                                        <i class="fa fa-list-ul"></i>
                                                                        @if (language == "en-US")
                                                                        {
                                                                            @item2.NameEng
                                                                        }
                                                                        else
                                                                        {
                                                                            @item2.NameMon
                                                                        }
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a href='@item2.NavigateUrl'>
                                                                        @if (language == "en-US")
                                                                        {
                                                                            @item2.NameEng
                                                                        }
                                                                        else
                                                                        {
                                                                            @item2.NameMon
                                                                        }
                                                                    </a>
                                                                }
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        if (string.IsNullOrEmpty(@item.NavigateUrl))
                                        {
                                            <a href='@Url.Action("MenuClick", "News", new { id = @item.MenuID })'>
                                                @if (language == "en-US")
                                                {
                                                    @item.NameEng
                                                }
                                                else
                                                {
                                                    @item.NameMon
                                                }
                                            </a>
                                        }
                                        else
                                        {
                                            <a href='@item.NavigateUrl'>
                                                @if (language == "en-US")
                                                {
                                                    @item.NameEng
                                                }
                                                else
                                                {
                                                    @item.NameMon
                                                }
                                            </a>
                                        }
                                    }
                                }
                            </li>
                        }
                    </ul>

                </nav>

            </div>
        </div>
    </div>
</header>
@*<script>

        $(document).ready(function () {

            $('ul li a').click(function () {
                $('li').removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>*@
