@{
    ViewBag.Title = "_ElearnLayout";
}
<!DOCTYPE html>
<html class="st-layout ls-top-navbar-large ls-bottom-footer show-sidebar sidebar-l3" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Learning</title>
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")" />
    @Styles.Render("~/Content/cssel")
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.Chart },
        new Script { ExtensionSuite = ExtensionSuite.Report },
        new Script { ExtensionSuite = ExtensionSuite.Scheduler },
        new Script { ExtensionSuite = ExtensionSuite.TreeList },
        new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
        new Script { ExtensionSuite = ExtensionSuite.RichEdit }
    )
    @Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
            new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
        new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
        new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
        new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit }
    )
</head>
<body>
    <div class="st-container">
        <!-- Fixed navbar -->
        <div class="navbar navbar-size-large navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#sidebar-menu" data-toggle="sidebar-menu" class="toggle pull-left visible-xs"><i class="fa fa-ellipsis-v"></i></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand navbar-brand-primary navbar-brand-logo navbar-nav-padding-left">
                        <a class="svg" href="#">
                            MRCS
                        </a>
                    </div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="nav navbar-nav">
                        <li class="dropdown active">
                            <a href="@Url.Action("Index", "Menu")"><span class="fa fa-plus-circle"></span> Меню нэмэх</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown active">
                            <a href="@Url.Action("Create", "News")"><span class="fa fa-plus-square"></span> Мэдээ нэмэх</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown active">
                            <a href="@Url.Action("SliderCreate", "SysAdmin")"><span class="fa fa-file-image-o"></span> Слайд зураг нэмэх</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown active">
                            <a href="@Url.Action("FileContentList", "SysAdmin")"><span class="fa fa-file-pdf-o"></span> Файл нэмэх</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown active">
                            <a href="@Url.Action("Create", "elearning")"><span class="fa fa-file-code-o"></span> Онлайн сургалт нэмэх</a>
                        </li>
                    </ul>
                   
                    <ul class="nav navbar-nav navbar-nav-bordered">
                        <!-- User -->
                        <li class="dropdown">
                            <br />
                                @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
        <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
        <div class="sidebar left sidebar-size-3 sidebar-offset-0 sidebar-visible-desktop sidebar-visible-mobile sidebar-skin-dark" id="sidebar-menu" data-type="collapse">
            <div data-scrollable>
                <div class="sidebar-block">
                    <div class="profile">
                        <a href="#">
                            <img src="~/Content/logo.png" alt="people" class="img-circle width-80" />
                        </a>
                        <h4 class="text-display-1 margin-none">@DXWebMRCS.Constants.Config.GetUserName(User.Identity.Name)</h4>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    @if (Roles.IsUserInRole(User.Identity.Name, "Admin"))
                    {
                        <li class="hasSubmenu active">
                            <a href="#forum-user"><i class="fa fa-file-text-o"></i><span>Хэрэглэгч /Users/</span></a>
                            <ul id="forum-user">
                                <li class="active"><a href="@Url.Action("Index", "SysAdmin")"><span>Хэрэглэгч жагсаалт</span></a></li>
                                <li class="active"><a href="@Url.Action("Create", "SysAdmin")"><span>Хэрэглэгч нэмэх</span></a></li>
                            </ul>
                        </li>
                        <li class="hasSubmenu active">
                            <a href="#forum-menu"><i class="fa fa-file-text-o"></i><span>Цэс /Menu/</span></a>
                            <ul id="forum-menu">
                                <li class="active"><a href="@Url.Action("Index", "Menu")"><span>Цэсний жагсаалт</span></a></li>
                            </ul>
                        </li>
                        <li class="hasSubmenu active">
                            <a href="#forum-news"><i class="fa fa-file-text-o"></i><span>Мэдээ мэдээлэл /News/</span></a>
                            <ul id="forum-news">
                                <li class="active"><a href="@Url.Action("Index", "News")"><span>Мэдээний жагсаалт</span></a></li>
                                <li class="active"><a href="@Url.Action("Create", "News")"><span>Мэдээ нэмэх</span></a></li>
                            </ul>
                        </li>
                        <li class="hasSubmenu active">
                            <a href="#forum-tag"><i class="fa fa-file-text-o"></i><span>Таг /Tag/</span></a>
                            <ul id="forum-tag">
                                <li class="active"><a href="@Url.Action("Tag", "News")"><span>Таг /Tag/ жагсаалт</span></a></li>
                                <li class="active"><a href="@Url.Action("TagCreate", "News")"><span>Таг /Tag/ нэмэх</span></a></li>
                            </ul>
                        </li>
                        <li class="hasSubmenu active">
                            <a href="#forum-gal"><i class="fa fa-file-text-o"></i><span>Зургийн цомог /Gallery/</span></a>
                            <ul id="forum-gal">
                                <li class="active"><a href="@Url.Action("Gallery", "SysAdmin")"><span>Зургийн цомог /Gallery/ жагсаалт</span></a></li>
                                <li class="active"><a href="@Url.Action("GalleryCreate", "SysAdmin")"><span>Зургийн цомог /Gallery/ нэмэх</span></a></li>
                            </ul>
                        </li>
                        <li class="hasSubmenu active">
                            <a href="#forum-slider"><i class="fa fa-file-text-o"></i><span>Слайд зураг /Slider/</span></a>
                            <ul id="forum-slider">
                                <li class="active"><a href="@Url.Action("SliderList", "SysAdmin")"><span>Слайд зураг /Slider/ жагсаалт</span></a></li>
                                <li class="active"><a href="@Url.Action("SliderAdd/0", "SysAdmin")"><span>Слайд зураг /Slider/ нэмэх</span></a></li>
                            </ul>
                        </li>
                        <li class="hasSubmenu active">
                            <a href="#forum-videos"><i class="fa fa-youtube"></i><span>Бичлэг /Video/</span></a>
                            <ul id="forum-videos">
                                <li class="active"><a href="@Url.Action("List", "videos")"><span>Бичлэг /Video/ жагсаалт</span></a></li>
                                <li class="active"><a href="@Url.Action("Create", "videos")"><span>Бичлэг /Video/ нэмэх</span></a></li>
                            </ul>
                        </li>
                        <li class="hasSubmenu active">
                            <a href="#forum-events"><i class="fa fa-file-text-o"></i><span>Явагдах сургалт /Events/</span></a>
                            <ul id="forum-events">
                                <li class="active"><a href="@Url.Action("Index", "Training")"><span>Явагдах сургалт жагсаалт</span></a></li>
                                <li class="active"><a href="@Url.Action("Create", "Training")"><span>Явагдах сургалт нэмэх</span></a></li>
                            </ul>
                        </li>
                        <li class="hasSubmenu active">
                            <a href="#forum-file"><i class="fa fa-file-text-o"></i><span>Файл оруулах /Files/</span></a>
                            <ul id="forum-file">
                                <li class="active"><a href="@Url.Action("FileContentList", "SysAdmin")"><span>Файл жагсаалт</span></a></li>
                                <li class="active"><a href="@Url.Action("_UploadFile/0", "SysAdmin")"><span>Файл нэмэх</span></a></li>
                            </ul>
                        </li>
                        <li class="hasSubmenu active">
                            <a href="#forum-magazine"><i class="fa fa-file-text-o"></i><span>Сэтгүүл оруулах /Magazine/</span></a>
                            <ul id="forum-magazine">
                                <li class="active"><a href="@Url.Action("MagazineList", "SysAdmin")"><span>Сэтгүүл жагсаалт</span></a></li>
                                <li class="active"><a href="@Url.Action("_UploadMagazine/0", "SysAdmin")"><span>Сэтгүүл нэмэх</span></a></li>
                            </ul>
                        </li>
                        <li class="hasSubmenu active">
                            <a href="#forum-branch"><i class="fa fa-file-text-o"></i><span>Салбар</span></a>
                            <ul id="forum-branch">
                                <li class="active"><a href="@Url.Action("Index", "Branch")"><span>Салбар жагсаалт</span></a></li>
                                <li class="active"><a href="@Url.Action("Create", "Branch")"><span>Салбар нэмэх</span></a></li>
                            </ul>
                        </li>
                        <li class="hasSubmenu active">
                            <a href="#forum-elearning"><i class="fa fa-file-text-o"></i><span>Онлайн сургалт</span></a>
                            <ul id="forum-elearning">
                                <li class="active"><a href="@Url.Action("List", "elearning")"><span>Сургалтын жагсаалт</span></a></li>
                                <li class="active"><a href="@Url.Action("Create", "elearning")"><span>Сургалт нэмэх</span></a></li>
                            </ul>
                        </li>
                        <li class="hasSubmenu active">
                            <a href="#forum-project"><i class="fa fa-file-text-o"></i><span>Хэрэгжиж буй төслүүд</span></a>
                            <ul id="forum-project">
                                <li class="active"><a href="@Url.Action("Index", "Project")"><span>Төслийн жагсаалт</span></a></li>
                                <li class="active"><a href="@Url.Action("Create", "Project")"><span>Төсөл нэмэх</span></a></li>
                            </ul>
                        </li>
                        <li class="hasSubmenu active">
                            <a href="#forum-jobs"><i class="fa fa-user-md"></i><span>Ажлын зар</span></a>
                            <ul id="forum-jobs">
                                <li class="active"><a href="@Url.Action("list", "jobs")"><span>Ажлын зар жагсаалт</span></a></li>
                                <li class="active"><a href="@Url.Action("create", "jobs")"><span>Ажлын зар нэмэх</span></a></li>
                            </ul>
                        </li>
                        <li class="hasSubmenu active">
                            <a href="#forum-anket"><i class="fa fa-user-md"></i><span>Ажлын анкет</span></a>
                            <ul id="forum-anket">
                                <li class="active"><a href="@Url.Action("index", "jobdetails")"><span>Ажлын анкет жагсаалт</span></a></li>
                            </ul>
                        </li>
                        <li class="hasSubmenu active">
                            <a href="#forum-questionnaire"><i class="fa fa-user-md"></i><span>Судалгаа</span></a>
                            <ul id="forum-questionnaire">
                                <li class="active"><a href="@Url.Action("index", "questionnaires")"><span>Судалгаа жагсаалт</span></a></li>
                                <li class="active"><a href="@Url.Action("create", "userids")"><span>Судалгаа багш нэмэх</span></a></li>
                                <li class="active"><a href="@Url.Action("create", "lessonid")"><span>Судалгаа хичээл нэр нэмэх</span></a></li>
                            </ul>
                        </li>
                    }
                    else if (Roles.IsUserInRole(User.Identity.Name, "BranchUser"))
                    {
                        <li class="active"><a href="@Url.Action("Index", "News")"><i class="fa fa-bar-chart-o"></i><span>Мэдээ мэдээлэл</span></a></li>
                    }
                </ul>
            </div>
        </div>
        <!-- sidebar effects OUTSIDE of st-pusher: -->
        <!-- st-effect-1, st-effect-2, st-effect-4, st-effect-5, st-effect-9, st-effect-10, st-effect-11, st-effect-12, st-effect-13 -->
        <!-- content push wrapper -->
        <div class="st-pusher" id="content">
            <!-- sidebar effects INSIDE of st-pusher: -->
            <!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->
            <!-- this is the wrapper for the content -->
            <div class="st-content">
                <!-- extra div for emulating position:fixed of the menu -->
                <div class="st-content-inner padding-none">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
                <!-- /st-content-inner -->
            </div>
            <!-- /st-content -->
        </div>
        <!-- /st-pusher -->
        <!-- Footer -->
        <footer class="footer">
            <strong>Монголын улаан загалмай нийгэмлэг</strong> v1.1.0 &copy; Copyright 2015
        </footer>
        <!-- // Footer -->
    </div>
    <!-- // Footer -->
    <!-- Inline Script for colors and config objects; used by various external scripts; -->
    <script>
        var colors = {
            "danger-color": "#e74c3c",
            "success-color": "#81b53e",
            "warning-color": "#f0ad4e",
            "inverse-color": "#2c3e50",
            "info-color": "#2d7cb5",
            "default-color": "#6e7882",
            "default-light-color": "#cfd9db",
            "purple-color": "#9D8AC7",
            "mustard-color": "#d4d171",
            "lightred-color": "#e15258",
            "body-bg": "#f6f6f6"
        };
        var config = {
            theme: "html",
            skins: {
                "default": {
                    "primary-color": "#42a5f5"
                }
            }
        };
    </script>
    @*<script src="~/Scripts/all.js"></script>
        <script src="~/Scripts/app.js"></script>*@
    @Scripts.Render("~/bundles/jqueryel")
</body>
</html>



