@model DXWebMRCS.Models.Donor

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "DonorSay", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Donor</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.DID)

        <div class="form-group">
            @Html.LabelFor(model => model.Pnamemon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Pnamemon, new { @class = "form-control", @style = "background-color:white", placeholder = "Нэр /Монголоор/ оруулна уу" })
                @Html.ValidationMessageFor(model => model.Pnamemon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pnameeng, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Pnameeng, new { @class = "form-control", @style = "background-color:white", placeholder = "Нэр /Англи/ оруулна уу" })
                @Html.ValidationMessageFor(model => model.Pnameeng)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParagraphMon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.ParagraphMon, new { @class = "form-control", @style = "background-color:white", placeholder = "Ишлэл /Монгол/ оруулна уу" })
                @Html.ValidationMessageFor(model => model.ParagraphMon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParagraphEng, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.ParagraphEng, new { @class = "form-control", @style = "background-color:white", placeholder = "Ишлэл /Англи/ оруулна уу" })
                @Html.ValidationMessageFor(model => model.ParagraphEng)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PositionMon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.PositionMon, new { @class = "form-control", @style = "background-color:white", placeholder = "Албан тушаал /Монгол/ оруулна уу" })
                @Html.ValidationMessageFor(model => model.PositionMon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PositionEng, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.PositionEng, new { @class = "form-control", @style = "background-color:white", placeholder = "Албан тушаал /Англи/ оруулна уу" })
                @Html.ValidationMessageFor(model => model.PositionEng)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                <input type="file" name="ImageFile" required onchange="show(this)" class="form-control">
                <img id="user_img" height="100" width="90" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Засах" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }

    function CloseGridLookup() {
        Tags.ConfirmCurrentSelection();
        Tags.HideDropDown();
    }
</script>  