@model DXWebMRCS.Models.News

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

<h2>Edit</h2>
<div class="right_col" role="main">
    @using (Html.BeginForm("Edit", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>News</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.CID)

            <div class="form-group">
                @Html.LabelFor(model => model.TitleMon, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TitleMon)
                    @Html.ValidationMessageFor(model => model.TitleMon)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TitleEng, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TitleEng)
                    @Html.ValidationMessageFor(model => model.TitleEng)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BodyMon, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @using (Html.BeginForm())
                    {
                        @Html.Action("EditBodyMonPartial", Model)
                    }
                    @Html.ValidationMessageFor(model => model.BodyMon)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BodyEng, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @using (Html.BeginForm())
                    {
                        @Html.Action("EditBodyEngPartial", Model)
                    }
                    @Html.ValidationMessageFor(model => model.BodyEng)

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @{string imageUrl = "http://localhost:4659" + @Model.Image;}
                    <input type="file" name="ImageFile" onchange="show(this)">
                    <img id="user_img" src=@imageUrl height="100" width="90" />
                    @Html.HiddenFor(model => model.Image)
                    @Html.HiddenFor(model => model.ImageMedium)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContentType, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ContentType", new List<SelectListItem>

                            {
                               new SelectListItem{ Text="Меню", Value = "Menu" },
                               new SelectListItem{ Text="Мэдээ", Value = "News" }
                            }, "Төрөл сонгоно уу!", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ContentType)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MenuID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.DevExpress().ComboBox(
                        settings =>
                        {
                            settings.Name = "MenuID";
                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                            settings.Height = 25;
                            settings.PreRender = (s, e) =>
                            {
                                if (Model.MenuID != null)
                                {
                                    MVCxComboBox c = s as MVCxComboBox;
                                    c.SelectedItem = c.Items.FindByValue(Model.MenuID);
                                }
                            };
                            settings.SelectedIndex = 0;
                            settings.Properties.NullDisplayText = "No data available...";
                            settings.Properties.TextField = "NAMEMON";
                            settings.Properties.Columns.Add("NAMEMON", "NAMEMON", 150);
                            settings.Properties.ValueField = "MENUID";
                            settings.ShowModelErrors = true;
                            settings.Properties.ValueType = typeof(int);
                            settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                            settings.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                        }).BindList(DXWebMRCS.Models.NorthwindDataProvider.GetMenus()).GetHtml()

                    @Html.ValidationMessageFor(model => model.MenuID)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

<script type="text/javascript">
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>

