@model DXWebMRCS.Models.News

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

<h2>Edit</h2>
<div class="right_col" role="main">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>News</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.CID)

            <div class="form-group">
                @Html.LabelFor(model => model.TitleMon, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TitleMon)
                    @Html.ValidationMessageFor(model => model.TitleMon)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TitleEng, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TitleEng)
                    @Html.ValidationMessageFor(model => model.TitleEng)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BodyMon, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @using (Html.BeginForm())
                    {
                        @Html.Action("EditBodyMonPartial", Model)
                    }
                    @Html.ValidationMessageFor(model => model.BodyMon)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BodyEng, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @using (Html.BeginForm())
                    {
                        @Html.Action("EditBodyEngPartial", Model)
                    }
                    @Html.ValidationMessageFor(model => model.BodyEng)

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Image)
                    @Html.ValidationMessageFor(model => model.Image)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContentType, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ContentType", new List<SelectListItem>

                            {
                               new SelectListItem{ Text="Меню", Value = "Menu" },
                               new SelectListItem{ Text="Мэдээ", Value = "News" }
                            }, "Төрөл сонгоно уу!", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ContentType)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

