@using DXWebMRCS.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<DXWebMRCS.Models.News>
@{
    ViewBag.Title = "NewsList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@{string language = System.Globalization.CultureInfo.CurrentCulture.Name;
string tempBody = string.Empty;}
<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-2" data-bg-img="../Content/IMG_0725.JPG">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title text-white">Мэдээ, мэдээлэл</h2>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container mt-30 mb-30 pt-30 pb-30">
            <div class="row blog-posts">
                <div class="col-md-12">
                    <!-- Blog Masonry -->
                    <div id="grid" class="gallery-isotope grid-3 masonry gutter-30 clearfix">

                        <div class="gallery-item gallery-item-sizer"></div>
                        @foreach (var item in Model)
                        {
                            if (language == "en-US")
                            {
                                <div class="gallery-item">
                                    <article class="post clearfix mb-30 bg-lighter">
                                        <div class="entry-header">
                                            <div class="post-thumb thumb">
                                                @{string imageUrl = item.ImageMedium != null ? HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.AbsolutePath, "/") + item.ImageMedium : "http://placehold.it/360x240";}
                                                <img src="@imageUrl" alt="" class="img-responsive img-fullwidth">
                                            </div>
                                        </div>
                                        <div class="entry-content border-1px p-20 pr-10">
                                            <div class="entry-meta media mt-0 no-bg no-border">
                                                <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                                                    <ul>
                                                        <li class="font-16 text-white font-weight-600">@item.Date.Day</li>
                                                        <li class="font-10 text-white text-uppercase">
                                                            @item.Date.ToString("MMM")
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="media-body pl-15">
                                                    <div class="event-content pull-left flip">
                                                        <h4 class="entry-title text-white text-uppercase m-0 mt-5">
                                                            <a href='@Url.Action("NewsDetail", "News", new { id = @item.CID })'>
                                                                @item.TitleEng
                                                            </a>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>

                                            <p class="mt-10">
                                                @Html.Raw(item.BodyEng)
                                            </p>
                                            <a href='@Url.Action("NewsDetail", "News", new { id = @item.CID })' class="btn-read-more">Read more</a>
                                            @*@Html.ActionLink("Read more", "NewsDetail2", "News", item, htmlAttributes: new { @class = "btn-read-more" })*@
                                            <div class="clearfix"></div>
                                        </div>
                                    </article>
                                </div>
                            }
                            else
                            {
                                <div class="gallery-item">
                                    <article class="post clearfix mb-30 bg-lighter">
                                        <div class="entry-header">
                                            <div class="post-thumb thumb">
                                                @{string imageUrl = item.ImageMedium != null ? HttpContext.Current.Request.Url.AbsoluteUri.Replace(HttpContext.Current.Request.Url.AbsolutePath, "/") + item.ImageMedium : "http://placehold.it/360x240";}
                                                <img src=@imageUrl alt="" class="img-responsive img-fullwidth">
                                            </div>
                                        </div>
                                        <div class="entry-content border-1px p-20 pr-10">
                                            <div class="entry-meta media mt-0 no-bg no-border">
                                                <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                                                    <ul>
                                                        <li class="font-16 text-white font-weight-600">@item.Date.Day</li>
                                                        <li class="font-10 text-white text-uppercase">
                                                            @item.Date.ToString("MM' сар'")
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="media-body pl-15">
                                                    <div class="event-content pull-left flip">
                                                        <h4 class="entry-title text-white text-uppercase m-0 mt-5">
                                                            <a href='@Url.Action("NewsDetail", "News", new { id = @item.CID })'>
                                                                @item.TitleMon
                                                            </a>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            @{
                                                tempBody = System.Text.RegularExpressions.Regex.Replace((language == "en-US" ? item.BodyEng : item.BodyMon), "<(.|\n)*?>", "").Replace("&nbsp;", " ").Replace("&bull;", "");
                                                tempBody = tempBody.Substring(0, tempBody.Length > 250 ? 250 : tempBody.Length) + (tempBody.Length > 250 ? "..." : "");
                                            }
                                            <p class="mt-10">@tempBody</p>
                                            <a href='@Url.Action("NewsDetail", "News", new { id = @item.CID })' class="btn-read-more">Үргэлжлүүлж унших...</a>
                                            @*@Html.ActionLink("Read more", "NewsDetail2", "News", item, htmlAttributes: new { @class = "btn-read-more" })*@
                                            <div class="clearfix"></div>
                                        </div>
                                    </article>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>

            <div class="col-md-12">
                @Html.PagedListPager(Model, page => Url.Action("PageClick", new { page = page }))
                @*<nav>
                        <ul class="pagination">
                            <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">«</span> </a> </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">...</a></li>
                            <li> <a href="#" aria-label="Next"> <span aria-hidden="true">»</span> </a> </li>
                        </ul>
                    </nav>*@
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->
