@model Tuple<DXWebMRCS.Models.News, IEnumerable<DXWebMRCS.Models.News>>
@{
    ViewBag.Title = "NewsDetail";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@{string language = System.Globalization.CultureInfo.CurrentCulture.Name;}
<!-- Start main-content -->
<div class="main-content">
    <section class="inner-header divider parallax layer-overlay overlay-dark-2" data-bg-img="@Model.Item1.Image">
        <div class="container pt-90 pb-90">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                        {
                            <h2 class="title text-white">@Model.Item1.TitleEng</h2>
                        }
                        else
                        {
                            <h2 class="title text-white">@Model.Item1.TitleMon</h2>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="blog-posts single-post">
                        @if (language == "en-US")
                        {
                            @Html.Raw(Model.Item1.BodyEng)
                        }
                        else
                        {
                            @Html.Raw(Model.Item1.BodyMon)
                        }
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="sidebar sidebar-left mt-sm-30">
                        <div class="widget">
                        @if (language == "en-US")
                        {
                            <h5 class="widget-title line-bottom">Latest News</h5>
                        }
                        else
                        {
                            <h5 class="widget-title line-bottom">Сүүлд нэмэгдсэн мэдээ</h5>
                        }
                            <div class="latest-posts">
                                @foreach (var item in Model.Item2)
                                {
                                    <article class="post media-post clearfix pb-0 mb-10">
                                        <a class="post-thumb" href='@Url.Action("NewsDetail", "News", new { id = @item.CID })'>
                                            <img src="@item.Image" alt="">

                                        </a>
                                        <div class="post-right">
                                            <h5 class="post-title mt-0">
                                                <a href='@Url.Action("NewsDetail", "News", new { id = @item.CID })'>
                                                    @if (language == "en-US" && item.TitleEng != null)
                                                    {
                                                        if (@item.TitleEng.Count() > 50)
                                                        {
                                                            @item.TitleEng.Substring(0, 50)
                                                        }
                                                        else
                                                        {
                                                            @item.TitleEng
                                                        }
                                                    }
                                                    else if (language != "en-US")
                                                    {
                                                        if (@item.TitleMon.Count() > 50)
                                                        {
                                                            @item.TitleMon.Substring(0, 50)
                                                        }
                                                        else
                                                        {
                                                            @item.TitleMon
                                                        }
                                                    }
                                                </a>
                                            </h5>
                                        </div>
                                    </article>
                                }
                            </div>
                        </div>
                        @{Html.RenderAction("TagPartial", "News");}
                </div>
            </div>
        </div>
            </div>
    </section>
</div>
