@model DXWebMRCS.Models.Elearn

@{
    ViewBag.Title = DXWebMRCS.Constants.Config.GetUserName(User.Identity.Name);
    Layout = "~/Views/Shared/_ElearnLayout.cshtml";
    var usrName = DXWebMRCS.Constants.Config.GetUserName(User.Identity.Name);
    var lessonName = Model.LessonName;
}
@{
    var db = new DXWebMRCS.Models.UsersContext();
    var elearnlist = db.Elearn.ToList();
}
<div class="parallax bg-white page-section">
    <div class="parallax-layer container" data-opacity="true">
        <div class="media v-middle">
            <div class="media-left">
                @Html.Raw("<img width=150," + Model.Image)
                @*<img src="~/Content/elearn/elicon.png" class="icon-block s60 bg-lightred fa fa-github" />*@
            </div>
            <div class="media-body">
                <h1 class="text-display-1 margin-none">@Html.DisplayFor(model => model.LessonName)</h1>
                <p class="small margin-none">
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                </p>
            </div>
            <div class="media-right">
                <a class="btn btn-white" href="@Url.Action("Index", "Elearning")">Жагсаалт</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-8">
            <div class="page-section">
                <p>
                    @Html.DisplayFor(model => model.Description)
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="page-section">
                <!-- .panel -->
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
                    <div class="panel-heading">
                        <h4 class="text-headline">@Html.DisplayFor(model => model.LessonName)</h4>
                    </div>
                    <div class="panel-body">
                        <p class="text-caption">
                            <i class="fa fa-clock-o fa-fw"></i> @Html.DisplayFor(model => model.Time) цаг &nbsp;
                            <i class="fa fa-calendar fa-fw"></i> @Html.DisplayFor(model => model.Date)
                            <br />
                        </p>
                    </div>
                    <hr class="margin-none" />
                    <div class="panel-body text-center">
                        @Html.ActionLink("ХИЧЭЭЛ ЭХЛҮҮЛЭХ", "Details", null, null, new { @href = Model.LessonBody + "?usrName="+ usrName+"&LessonName="+lessonName, @class = "btn btn-success btn-lg paper-shadow relative" })
                    </div>
                    @*<ul class="list-group">
                        <li class="list-group-item">

                            <a href="@Html.Raw(Html.AttributeEncode(link))" class="text-light"><i class="fa fa-facebook fa-fw"></i> Share on facebook</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="text-light"><i class="fa fa-twitter fa-fw"></i> Tweet this course</a>
                        </li>
                    </ul>*@
                </div>
                <!-- // END .panel -->
                <!-- .panel -->
                <!-- // END .panel -->
            </div>
            <!-- // END .page-section -->
        </div>
    </div>
</div>
<div class="bg-white page-section">
    <div class="container">
        <h4>Сүүлд нэмэгдсэн хичээл</h4>
        <div class="slick-basic slick-slider" data-items="4" data-items-lg="3" data-items-md="2" data-items-sm="1" data-items-xs="1">
            @foreach (var slide in elearnlist)
            {
               <div class="item">
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
                    <div class="panel-body">
                        <div class="media media-clearfix-xs">
                            <div class="media-left">
                                <div class="cover width-90 width-100pc-xs overlay cover-image-full hover">
                                    <span class="img icon-block s90 bg-default"></span>
                                    <span class="overlay overlay-full padding-none icon-block s90 bg-default">
                                        @Html.Raw("<img width=90," + slide.Image)
                                    </span>
                                    <a href="@Url.Action("Details", "Elearning", new { id = slide.ELID })" class="overlay overlay-full overlay-hover overlay-bg-white">
                                        <span class="v-center">
                                            <span class="btn btn-circle btn-white btn-lg"><i class="fa fa-graduation-cap"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading margin-v-5-3"><a href="@Url.Action("Details", "Elearning", new { id = slide.ELID })">@slide.LessonName</a></h4>
                                <p class="small margin-none">
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                    <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
            
        </div>
    </div>
</div>