@model IEnumerable<DXWebMRCS.Models.eServiceModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ElearnLayout.cshtml";
}

@{
    var db = new DXWebMRCS.Models.UsersContext();
    var elearnlist = db.Elearn.ToList();
    var elearnlist2 = db.Elearn.ToList().OrderByDescending(o => o.Date).Take(8);
    int[] score = DXWebMRCS.Controllers.elearningController.TotalScore(WebSecurity.CurrentUserId);
    var certcount = DXWebMRCS.Controllers.elearningController.CertCount();
}


<div class="parallax overflow-hidden bg-blue-400 page-section third">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle">
            <div class="media-body">
                <h1 class="text-display-2 margin-none text-white">Онлайн сургалтын хичээл</h1>
                <p class="text-light lead text-white">Та хичээлээ сонгож үзнэ үү</p>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="page-section">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="media v-middle">
                        <div class="media-left">
                            <div class="bg-green-400 text-white">
                                <div class="panel-body">
                                    <i class="fa fa-users fa-fw fa-2x"></i>
                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            Сайн уу <span class="text-body-2"><b>@DXWebMRCS.Constants.Config.GetUserName(User.Identity.Name)</b></span>! Өнөөдөр та ямар хичээл сурмаар байна?
                        </div>
                    <form action="/Elearning/Search" method="post">
                        <div class="input-group media-padding">
                            @Html.TextBox("lessonname", "", new { @class = "form-control", @placeholder="Үзэх хичээлийнхээ нэрийг бичнэ үү" })
                            <span class="input-group-btn">
                                @*<input id="btnIOS" type="submit" value="lessonname" />*@
                                <button class="btn btn-success" type="submit">Хайх!</button>
                            </span>
                        </div>
                    </form>
                    </div>
                </div>

                <div class="row" data-toggle="isotope">
                    <div class="item col-xs-12 col-lg-6">
                        <div class="panel panel-default paper-shadow" data-z="0.5">
                            <div class="panel-heading">
                                <h4 class="text-headline margin-none">Хичээл</h4>
                                <p class="text-subhead text-light">Судалж дуусгасан хичээл</p>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item media v-middle">
                                    <div class="media-left">
                                        <a href="website-course.html" class="icon-block half bg-lightred"><i class="fa text-white fa-check-square"></i></a>
                                    </div>
                                    <div class="media-right media-body">
                                        <h4 class="media-heading"><a href="website-course.html" class="text-primary">Судалсан хичээл</a></h4>
                                    </div>
                                    <div class="media-right text-center">
                                        <a href="@Url.Action("Index", "eLearnt")">
                                            <div class="text-display-1 text-red-500">@score[0]</div>
                                            <span class="caption text-light">хичээл</span>
                                        </a>
                                    </div>
                                </li>
                                <li class="list-group-item media v-middle">

                                    <div class="media-left">
                                        <a href="website-course.html" class="icon-block half bg-purple"><i class="fa fa-calendar text-white"></i></a>
                                    </div>
                                    <div class="media-body media-right">
                                        <h4 class="media-heading"><a href="website-course.html" class="text-primary">Судалсан цаг</a></h4>
                                    </div>
                                    <div class="media-right text-center">
                                        <a href="@Url.Action("Index", "eLearnt")">
                                            <div class="text-display-1 text-red-500">@score[1]</div>
                                            <span class="caption text-light">цаг</span>
                                        </a>
                                    </div>
                                </li>
                                @*@Html.Partial("_TotalScore")*@
                            </ul>
                            <div class="panel-footer text-right">
                            </div>
                        </div>
                    </div>


                    <div class="item col-xs-12 col-lg-6">
                        <div class="panel panel-default paper-shadow" data-z="0.5">
                            <div class="panel-body">
                                <h4 class="text-headline margin-none">Дуусгасан хичээлүүд</h4>
                                <p class="text-subhead text-light">Таны дуусгасан хичээлүүд</p>
                                    @if (Model == null)
                                    {
                                        foreach (var l in Model)
                                        {
                                            <a href="" class="btn-circle" data-hover-z="0.5" data-animated data-toggle="tooltip" data-title="@l.LessonName">
                                                <i class="fa fa-mortar-board text-white"></i>
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var l in Model.Take(7))
                                        {
                                            <div class="icon-block half img-circle bg-green-300">
                                                <a href="@Url.Action("Index", "eLearnt")" class="btn-circle" data-hover-z="0.5" data-animated data-toggle="tooltip" data-title="@l.LessonName хичээл">
                                                    <i class="fa fa-mortar-board text-white"></i>
                                                </a>
                                            </div>
                                        }
                                    }
                            </div>
                        </div>
                        <div class="panel panel-default paper-shadow" data-z="0.5">
                            <div class="panel-heading">
                                <h4 class="text-headline">
                                    Сертификат
                                    <small></small>
                                </h4>
                            </div>
                            <div class="panel-body">
                                @if (certcount == null)
                                {
                                    foreach (var l in certcount)
                                    {
                                        <a href="" class="btn btn-default text-grey-400 btn-lg btn-circle paper-shadow relative" data-hover-z="0.5" data-animated data-toggle="tooltip" data-title="Name of Certificate">
                                            <i class="fa fa-file-text"></i>
                                        </a>
                                    }
                                }
                                @if (certcount != null)
                                {
                                    foreach (var l in certcount.Take(7))
                                    {
                                        <a href="@Url.Action("ViewPdf", "eLearnt", new { id = l.eServiceid, lessonname = l.LessonName})" target="_blank" class="btn btn-default text-grey-400 btn-lg btn-circle paper-shadow relative" data-hover-z="0.5" data-animated data-toggle="tooltip" data-title="@l.LessonName хичээл">
                                            <i class="fa fa-file-text"></i>
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

@foreach (var list in elearnlist)
{
                    <div class="panel panel-default paper-shadow" data-z="0.5">
                        <div class="panel-body">
                            <div class="media media-clearfix-xs">
                                <div class="media-left text-center">
                                    <div class="cover width-150 width-100pc-xs overlay cover-image-full hover margin-v-0-10">
                                        <span class="img icon-block height-130 bg-default"></span>
                                        <span class="overlay overlay-full padding-none icon-block bg-default">
                                            <span class="v-center">
                                                @Html.Raw("<img height=110," + list.Image)
                                            </span>
                                        </span>
                                        <a href="@Url.Action("Details", "Elearning", new { id = list.ELID })" target="_blank" class="overlay overlay-full overlay-hover overlay-bg-white">
                                            <span class="v-center">

                                                <i class="fa fa-graduation-cap" style="color:#eb001f"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="text-headline margin-v-5-0"><a href="@Url.Action("Details", "Elearning", new { id = list.ELID })" target="_blank">@list.LessonName</a></h4>
                                    <p class="small">
                                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                                        <span class="fa fa-fw fa-star-o text-yellow-800"></span>
                                    </p>
                                    <p>
                                        @if (@list.Description.Length > 250)
                                        {
                                           <p>@list.Description.Substring(0,250)...</p>
                                        }
                                        else
                                        {
                                             <p>@list.Description...</p>
                                        }
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="col-md-3">
                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">Хичээл жагсаалт</h4>
                    </div>
                    @foreach (var listname in elearnlist2)
                    {
                        <div class="panel-body list-group">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge pull-right">@listname.Time цаг</span>
                                    <a class="list-group-link" target="_blank" href="@Url.Action("Details", "Elearning", new { id = listname.ELID })">@listname.LessonName</a>
                                </li>
                            </ul>
                        </div>
                    }

                </div>
                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">Нэмэгдсэн хичээл</h4>
                    </div>
                    <div class="panel-body list-group">
                        <ul class="list-group">
                            <li class="list-group-item active">
                                <span class="badge pull-right">@elearnlist.Count()</span>
                                <a class="list-group-link">Нийт хичээл</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
