@model IEnumerable<DXWebMRCS.Models.userid>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

<h2>Сургагч багшийн жагсаалт</h2>

<p>
    @Html.ActionLink("Сургагч багш нэмэх", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.uname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.uname)
        </td>
        <td>
            @Html.ActionLink("Засах", "Edit", new { id=item.UID }) |
            @Html.ActionLink("Устгах", "Delete", new { id=item.UID })
        </td>
    </tr>
}

</table>
